<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>Vegankie imperium</title>
</head>
<body>
	<h1>Vegankie imperium</h1>

	<form id="searchForm" th:action="@{/products}" method="get">
		<input type="text" class="form-control" id="queryField" th:name="name" th:placeholder="Nazwa" th:value="*{name}"/>
		<input type="checkbox" th:name="vegan" value="yes" th:checked="${vegan} == yes" /> 
		<input type="checkbox" th:name="vegetarian" value="yes" th:checked="${vegetarian} == yes" />
		<input type="checkbox" th:name="palmOil" value="yes" th:checked="${palmOil} == yes" />
		<div class="clearfix" id="submit-button">
			<button type="submit">Wyszukaj</button>
		</div>
	</form>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Vegan</th>
				<th>Vegetarian</th>
				<th>Palm Oil</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="product : ${list}">
				<td th:text="${product.name}">Text ...</td>
				<td th:text="${product.vegan}">Text ...</td>
				<td th:text="${product.vegetarian}">Text ...</td>
				<td th:text="${product.palmOil}">Text ...</td>
			</tr>

		</tbody>
	</table>

		
		<script type="text/javascript">
			$(function() {
				$("#queryField").autocomplete({
					source : 'autocomplete',
					minLenght : 1,
					select : function(event, ui) {
						document.getElementById('queryField').value = ui.item.value;
						document.getElementById('searchForm').submit();
					}
				});
			});
		</script>



</body>
</html>