<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Vegankie imperium</title>
</head>
<body>
<h1>
    Vegankie imperium
</h1>

<form th:action="@{/products}" method="get">
    <input type="text" th:name="name" th:placeholder="Nazwa" />
    <input type="radio" th:name="vegan" value="yes" />
    <input type="radio" th:name="vegetarian" value="yes" />
    <input type="radio" th:name="palmOil" value="yes" />
    <div class="clearfix">
        <button type="submit">Wyszukaj</button>
    </div>
</form>


<table class="table table-striped">
                <thead>
                 <tr>
                    <th>Name</th>
                    <th>Vegan</th>
                    <th>Vegetarian</th>
                    <th>Palm Oil</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="product : ${list}">
						<td th:text="${product.name}">Text ...</td>
						<td th:text="${product.vegan}">Text ...</td>
						<td th:text="${product.vegetarian}">Text ...</td>
						<td th:text="${product.palmOil}">Text ...</td>
                    </tr>   

                </tbody>
</table>
</body>
</html>